@media screen and (min-width: 768px) {
    .container {
        max-width: 582px;
    }
        /* Site nav */

        .mobile-menu-open{
            display: none;
        }

        .nav-box{
            align-items: center;
        }
    
        .nav-list {
            display: flex;
            margin-left: 120px;
        }
    
        .nav-item:not(:last-child) {
            margin-right: 40px;
        }
    
        .adress-nav {
            margin-left: auto;
        }
    
        .adress-list {
            display: flex;
            flex-direction: column;
            gap: 4px;
            padding-top: 24px;
            padding-bottom: 9px;
        }
    
        .site-nav {
            display: flex;
            align-items: center;
        }
    
        .nav-link {
            position: relative;
            display: block;
            padding-top: 24px;
            padding-bottom: 24px;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
            color: var(--header-color);
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.02em;
        }
    
        .nav-link.active {
            color: var(--hover-color);
        }
    
        .active::after {
            display: inline-block;
            position: absolute;
            bottom: 0%;
            right: 0%;
    
            content: "";
            width: 100%;
            height: 4px;
    
            background-color: #404BBF;
            border-radius: 2px;
        }
    
        .adress-link {
            display: block;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
            color: var(--primary-text-color);
            font-size: 12px;
            line-height: 1.33;
            font-style: normal;
            letter-spacing: 0.04em;
        }
    
        .nav-link:is(:hover, :focus),
        .adress-link:is(:hover, :focus) {
            color: var(--hover-color);
        }
        /* Hero */
        .hero-section {
            padding-bottom: 108px;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tab.jpg);
        }
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-bg-tab-2.jpg);
    }}
         .hero-title {
             width: 496px;
            margin-bottom: 40px;
    
            font-size: 56px;
            line-height: 1.07;
         }

         /* < -Our features-> */
         .features-list {
            column-gap: 24px;
         }
    
         .features-item {
             width: calc((100% - 24px) / 2);
         }

         .features-subtitle{
    text-align: left;
}

/* Our team */
 .team-list {
     gap: 24px;
     row-gap: 64px;
 }

 .section-team-item {
     width: calc((100% - 24px) / 2);
 }

/* Customers      */
.clien-list {
    gap: 24px;
    row-gap: 72px;
}
 .client-item {
     width: calc((100% - 48px) / 3);
 }

 /* footer */
.footer-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
}
.footer {
    align-items: flex-start;
}
.footer-text {
    width: 264px;
}

.soc-media {
    align-items: flex-start;
}

.subscribe-form-wrap {
    align-items: flex-start;
}

.subscribe-form {
    flex-direction: row;
    gap: 24px;
}

.subscribe-form-input {
    width: 264px;
margin-bottom: 0;}

/*================================ Modal window ===============================*/
.modal {
    width: 408px;
padding: 72px 24px 24px 24px;
}
   /* Portfolio */
   .portfolio-nav {
       margin-bottom: 64px;
       flex-wrap: nowrap;
       justify-content: center;
   }

   .filter-btn {
       padding: 12px 24px;
   }

   /* < !--Galaery of works--> */

   .gallery-list {
       display: flex;
       flex-wrap: wrap;
       flex-direction: row;
       row-gap: 72px;
       column-gap: 24px;
   }

.gallery-item {
     width: calc((100% - 24px)/2);
}
}

@media screen and (min-width: 768px) and (max-width:1199px){
.features>.container{
        max-width: 766px;
    }
.nav-box.container {
            max-width: 766px;
        }
.portfolio>.container {
    max-width: 766px;
}
}